
/** overwrite CSSes **/

.detail_View .list_comment .profile_img_w {
    top: 5px;
}
.list_comment .tools_w {
    top: 18px;
}
.detail_View .list_comment .tools_w {
    top: 0px;
}

.item_cont pre, .item_cont code {
    white-space: break-spaces;
    text-align: justify;
}
